
        <link rel="stylesheet" href="css/add_product.css">
    </head>


<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="/">
                        <span class="icon"><i class="  fas fa-home" aria-hidden="true"></i></span>
                        <span  class="title"><h2>ADMINSHOP</h2></span>
                    </a>
                </li>
                <br><br>
                <li>
                    <a href="/">
                        <span class="icon"><i class="  fas fa-home" aria-hidden="true"></i></span>
                        <span  class="title">Trang chủ</span>
                    </a>
                </li>
                <li>
                    <a class="isActive" href="product">
                        <span class="icon"><i class="fas fa-shopping-basket" aria-hidden="true"></i></span>
                        <span  class="title">Quản lý nhà sản phẩm</span>
                    </a>
                </li>
                <li>
                    <a href="bill">
                        <span class="icon"><i class="fas fa-users" aria-hidden="true"></i></span>
                        <span  class="title">Quản lý đơn hàng</span>
                    </a>
                </li>
                <li>
                    <a href="user">
                        <span class="icon"><i class="fas fa-user" aria-hidden="true"></i></span>
                        <span  class="title">Quản lý khách hàng</span>
                    </a>
                </li>
                <li>
                    <a href="inbox">
                        <span class="icon"><i class="fas fa-comments"></i></span>
                        <span  class="title">Trò chuyện</span>
                    </a>
                </li>
                <li>
                    <a href="login">
                        <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                        <span  class="title">Đăng xuất</span>
                    </a>
                </li>
              
    
            </ul>
        </div>

        <div class="main">
            <div class="topbar">
                <div class="toggle" onclick="toggleMenu();"></div>
                <div class="search">
                    <label>
                        <input type="text" placeholder="Search here">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </label>
                </div>
                <div class="user">
                    <img src="images/user.jpg">
                </div>
            </div>
          
            <div class="details">
                <div class="productInfo">
                    <div class="cardHeader">
                        <h2>Nhập thông tin sản phẩm</h2>
                    </div>
                    <div class="productMain">
                        <h2>Tên sản phẩm</h2>
                        <div class="form">
                            <label>
                                <input type="text" placeholder="Tên sản phẩm "> 
                            </label>
                        </div>
                        <h2>Giá bán</h2>
                        <div class="form">
                            <label>
                                <input type="text" placeholder="Giá bán "> 
                            </label>
                        </div>
                        <h2>Mô tả</h2>
                        <div class="form">
                            <label>
                                <input type="text" placeholder="Mô tả "> 
                            </label>
                        </div>
                        <h2>Phân loại</h2>
                        <div class="form">
                            <label>
                                <input type="text" placeholder="Phân loại "> 
                            </label>
                        </div>
                        <h2>Số lượng</h2>
                        <div class="form">
                            <label>
                                <input type="text" placeholder="Số lượng còn lại"> 
                            </label>
                        </div>    
                        <div class="button">
                            <a href="#" class="btn_them" >Cập nhật sản phẩm </a>
                        </div>    
                    </div>
                </div>
                <div class="productImg">
                    <br>
                    <img src="images/aothun.jpg">
                    <div class="button"><a href="products" class="btn_them">Cập nhật ảnh</a></div>
                </div>
            <div >  
            </div>
        </div>

    </div>