     <link rel="stylesheet" href="css/info_product.css">
    </head>


<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="/">
                        <span class="icon"><i class="  fas fa-home" aria-hidden="true"></i></span>
                        <span  class="title"><h2>ADMINSHOP</h2></span>
                    </a>
                </li>
                <br><br>
                <li>
                    <a href="/">
                        <span class="icon"><i class="  fas fa-home" aria-hidden="true"></i></span>
                        <span  class="title">Trang chủ</span>
                    </a>
                </li>
                <li>
                    <a class="isActive" href="products">
                        <span class="icon"><i class="fas fa-shopping-basket" aria-hidden="true"></i></span>
                        <span  class="title">Quản lý nhà sản phẩm</span>
                    </a>
                </li>
                <li>
                    <a href="bill">
                        <span class="icon"><i class="fas fa-users" aria-hidden="true"></i></span>
                        <span  class="title">Quản lý đơn hàng</span>
                    </a>
                </li>
                <li>
                    <a href="user">
                        <span class="icon"><i class="fas fa-user" aria-hidden="true"></i></span>
                        <span  class="title">Quản lý khách hàng</span>
                    </a>
                </li>
                <li>
                    <a href="inbox">
                        <span class="icon"><i class="fas fa-comments"></i></span>
                        <span  class="title">Trò chuyện</span>
                    </a>
                </li>
                <li>
                    <a href="login">
                        <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                        <span  class="title">Đăng xuất</span>
                    </a>
                </li>
    
            </ul>
        </div>

        <div class="main">
            <div class="topbar">
                <div class="toggle" onclick="toggleMenu();"></div>
                <div class="search">
                    <label>
                        <input type="text" placeholder="Tìm kiếm">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </label>
                </div>
                <div class="user">
                    <a href="profile"><img src="images/user.jpg"></a>
                </div>
            </div>
            
            <div class="details">
                <div class="productImg">

                    <div class="cardHeader">
                        <h2>Thông tin sản phẩm</h2>
                    </div>

                    <img src="images/aothun.jpg">
            
                </div>

                <div class="productInfo">
                    
                    <div class="productMain">
                        <h1 class="nameProduct">Áo thun</h1>
                        <h2 class="price"><span>5</span> $/cái</h2>
                        <h2>Loại: Đồ nam</h2>
                      
                        <h2>Mô tả: Áo thun bền đẹp</h2>
                       
                        <h2>Số lượng: 50 cái</h2>
                       
                        <div class="button">
                            <a href="products" class="btn_them" >Cập nhật sản phẩm </a>
                            <div class="button"><a href="products" class="btn_them">Xóa sản phẩm</a></div>
                        </div>    
                    </div>
                </div>

            <div >  
            </div>
        </div>
