<!DOCTYPE html>
<html>
<head>  
    <meta name="viewport" content="width=device-width, initial-scale=0.1">
    <title>Admin</title>
    <link rel="stylesheet" href="fontawesome/css/all.min.css">   
{{{body}}}
<script>
        function toggleMenu(){
            let toggle = document.querySelector('.toggle');
            let navigation = document.querySelector('.navigation');
            let main = document.querySelector('.main');
            toggle.classList.toggle('active')
            navigation.classList.toggle('active')
            main.classList.toggle('active')
        }
    </script>
</body>
</html>