   <link rel="stylesheet" href="css/profile.css">
</head>
<body>
<div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a  href="/">
                        <span class="icon"><i class="  fas fa-home" aria-hidden="true"></i></span>
                        <span  class="title"><h2>ADMINSHOP</h2></span>
                    </a>
                </li>
                <br><br>
                <li>
                    <a href="/">
                        <span class="icon"><i class="  fas fa-home" aria-hidden="true"></i></span>
                        <span  class="title">Trang chủ</span>
                    </a>
                </li>
                <li>
                    <a href="products">
                        <span class="icon"><i class="fas fa-shopping-basket" aria-hidden="true"></i></span>
                        <span  class="title">Quản lý sản phẩm</span>
                    </a>
                </li>
                <li>
                    <a href="bill">
                        <span class="icon"><i class="fas fa-users" aria-hidden="true"></i></span>
                        <span  class="title">Quản lý đơn hàng</span>
                    </a>
                </li>   
                <li>
                    <a href="user">
                        <span class="icon"><i class="fas fa-users" aria-hidden="true"></i></span>
                        <span  class="title">Quản lý khách hàng</span>
                    </a>
                </li>
                <li>
                    <a href="inbox">
                        <span class="icon"><i class="fas fa-comments"></i></span>
                        <span  class="title">Trò chuyện</span>
                    </a>
                </li> 
                <li>
                    <a href="login">
                        <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                        <span  class="title">Đăng xuất</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="main">
            <div class="topbar">
                <div class="toggle" onclick="toggleMenu();"></div>
                <div class="search">
                    <label>
                        <input type="text" placeholder="Tìm kiếm">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </label>
                </div>
                <div class="user">
                    <img src="images/user.jpg">
                </div>
            </div>

            <div class="details">
                <div class="imgUser">
                    <a><div class="imgBx"><img src="images/img1.jpg"></div></a>
                    <br>
                    <a href="#" class="btnAvt"><i class="fas fa-user-edit"></i></a>
                    <h4>Smart Shop<br><span>Tân Bình, Thành phố HCM</span></h4>
                </div> 
                <div class="infoUser">
                    <div>
                        <table >
                            <tbody>
                                <tr>
                                    <td class="cardName" >Tên thương hiệu</td>
                                    <td>Smart Shop</td>
                                </tr>
                                <tr>
                                    <td class="cardName" >Tên user</td>
                                    <td>Võ Kiều Trinh</td>
                                </tr>
                                <tr>
                                    <td class="cardName">Email</td>
                                    <td>kieutrinh@gmail.com</td>
                                </tr>
                                <tr>
                                    <td class="cardName">Password</td>
                                    <td>*********</td>
                                </tr>
                                <tr>
                                    <td class="cardName">Phone</td>
                                    <td>09191919191</td>
                                </tr>
                                <tr>
                                    <td class="cardName">Address</td>
                                    <td>Tran Hung Dao, Quan1, TP HCM</td>
                                </tr> 
                                <tr>
                                    <td><a href="#" class="btn" >Edit</a></td>
                                </tr>
                            </tbody>
                        </table> 
                    </div>
                </div>
            </div>
            <div class="recentPost">
                <div class="cardPost">Sản phẩm đăng gần đây</div>
                <table>
                    <thead>
                        <tr>
                            <td class="cardName">Hình ảnh</td>
                            <td class="cardName">Tên sản phẩm</td>
                            <td class="cardName">Ngày đăng</td>
                            <td class="cardName">Mô tả</td>
                            <td class="cardName">Số lượng</td>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td width="60"><div class="imgBx"><img src="images/img1.jpg"></div></td>   
                        <td><h4>Áo thun<br><span>10</span></h4></td>
                        <td><h4>20/10/2021<br><span>19:00 PM</span></h4></td>
                        <td> Áo thun khuyến mãi 50%</td>
                        <td>10</td>
                    </tr>  
                    <tr>
                        <td width="60"><div class="imgBx"><img src="images/img1.jpg"></div></td>   
                        <td><h4>Váy<br><span>10</span></h4></td>
                        <td><h4>20/10/2021<br><span>19:00 PM</span></h4></td>
                        <td>Váy đẹp xinh</td>
                        <td>20</td>
                    </tr> 
                    <tr>
                        <td width="60"><div class="imgBx"><img src="images/img1.jpg"></div></td>   
                        <td><h4>Quần Jean<br><span>20</span></h4></td>
                        <td><h4>20/10/2021<br><span>19:00 PM</span></h4></td>
                        <td>Quần bền siêu chất lượng</td>
                        <td>20</td>
                    </tr> 
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>